<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" type=text/css href="{{url_for('static', filename='main.css')}}">
</head>
<body>
	<header class="header">
		<div class="title">
            <a href="{{url_for('mainMenu')}}"><h1>Item-Catalog App</h1></a>
		</div>
	</header>
	<div class="container">
        <div>
            <h3>New Category Entry</h3>
            <form action="{{url_for('newCategory')}}" method='POST'>
                <p>Category Name: <br>
                <input type="text" size="30" name="name" value=""></p>
                <input type="submit" value="Submit">
                <a href="{{url_for('mainMenu')}}">Cancel</a>
            </form>
        </div>	
    </div>
    <a class="loginbutton" href="">Login</a>	
    <div class="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}   
        {% endif %}
    {% endwith %}
    </div>
</body>
</html>